.content-row {
    background-color: white;
    display: flex;
    flex-direction: row;
    min-height: 50%;
    height: 100%;
}

.content {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    height: 100%;
}

@media (max-width: 70em) and (min-resolution: 100dpi)  {
    .content-row, .content {
        flex-direction: column;
    }
}

.main {
    padding: 2rem;
    display: flex;
    margin: auto;
    flex-direction: column;
    max-width: 50%;
}

.main > p {
    line-height: 1.25;
}

.sidebar {
    flex-grow: 1;
    display: flex;
    padding: 2rem;
}

.sidebar > img {
    margin: auto;
    max-width: 100%;
}

@media (max-width: 70em) and (min-resolution: 100dpi) {
    .sidebar > img {
        width: 50%;
    }
    .main > p {
        font-size: 160%;
    }
}