.footer {
    background-color: rgb(0,105, 148);
    min-height: 8vh;
    display: flex;
    flex-direction: row;
    color: white
}

.contact {
    flex-grow: 1;
}

.contact > h2, .contact > p {
    padding-left: 2rem;
}

.footer-link > img {
    padding: .5rem;
    margin: auto;
    height: 4rem;
}

.links {
    align-self: flex-end;
    padding-right: 2rem;
}

.footer-wrapper {
    background-color: rgb(0,105, 148);
    min-height: 10rem;
    max-height: 16rem;
}

@media (max-width: 70em) {
    .footer {
        font-size: 120%;
        flex-direction: column;
    }
    .links {
        height: 4rem;
    }
    .footer-link > img {
        height: 3rem;
    }
}