.header {
    background-color: rgb(0, 105, 148);
    color: rgb(245,245, 245);
    height: 6rem;
    display: flex;
    flex-direction: row;
}

.header > h1 {
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 220%;
    margin-top: auto;
}

.header > img {
    padding-left: 1.5rem;
    align-self: flex-end;
    height: 100%;
}

.spacer {
    flex-grow: 1;
}

.menu-button {
    color: white;
    border: 0;
    font-size: 115%;
    background-color: rgb(0,105, 148);
    height: 2rem;
    margin-top: auto;
    margin-bottom: auto;
}

.menu-button:hover {
    color: white;
    font-weight: bold;
}

@media (max-width: 70em) {
    .header {
        height: 8rem;
    }
    .header > h1 {
        font-size: 120%;
    }
}