.menu-bar {
    background-color: lightgray;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height: 3rem;
}

.menu-item {
    background-color: lightgray;
    border: .5em solid lightgray;
    font-size: 115%;
    flex-grow: 1;
}

.menu-item:hover {
    font-weight: bold;
}

.menu-item:focus, .menu-item:active  {
    font-weight: bolder;
    border: .5em solid lightgray;
    background:  gray;
    color: rgb(245,245, 245);
    outline: none;
    border: none;
}

.menu-item::-moz-focus-inner {
    outline: none;
    border: none;
}

.menu-wrapper {
    display: none;
    flex-direction: column;
    background-color: lightgrey;
}

.menu-button {
    text-align: right;
}

@media (max-width: 700px) {
    .menu-bar {
        flex-direction: column;
        height: 100%;
        font-size: 120%
    }
    .menu-button {
        font-size: 120%;
        width: 120%;
    }
}