body {
    background-color: coral;
    display: flex;
    flex-direction: row;
}

.wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    width: 100vh;
    height: 98vh;
}

.header {
    background-color: rgb(245,245, 245);
    min-height: 10%;
    color: rgb(0,105, 148);
    border-top : 1rem solid rgb(0,105, 148);
    border-left : 1rem solid rgb(0,105, 148);
    border-right: 1rem solid rgb(0,105, 148);
    padding-left: 4rem;
}

.menu-bar {
    background-color: lightgray;
    min-height: 5%;
    border-bottom : 1rem solid rgb(0,105, 148);
    border-left : 1rem solid rgb(0,105, 148);
    border-right: 1rem solid rgb(0,105, 148);
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.menu-item {
    background-color: lightgray;
    border: .5em solid lightgray;
    font-size: 120%;
    flex-grow: 1;
}

.menu-item:focus, .menu-item:active  {
    font-weight: bold;
    border: .5em solid lightgray;
    background:  gray;
    color: rgb(245,245, 245);
    outline: none;
    border: none;
}

.menu-item::-moz-focus-inner {
    outline: none;
    border: none;
}

.content-row {
    background-color: white;
    display: flex;
    flex-direction: row;
    height: 70%;
}

.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
}

.main > p {
    margin: 2rem;
    max-width: 40rem;
}

.sidebar > img {
    margin: 2rem;
    max-width: 40rem;
}

.horizontal-decoration {
    height: 2em;
    background-image: url(/images/egg-dart.jpg);
    background-size: 8em;
}

.vertical-decoration {
    width: 6rem;
    min-width: 96px;
    background-size: 6rem 100%;
    background-image: url(/images/ionic-col.png);
}

.footer {
    background-color: rgb(0,105, 148);
    min-height: 5%;
}